<?xml version="1.0"?>

<launch>
  <!-- "camera" should uniquely identify the device. All topics are pushed down
       into the "camera" namespace, and it is prepended to tf frame ids. -->
  <arg name="camera"      default="camera"/>
  <arg name="publish_tf"  default="false"/>

  <!-- TODO: fill with RealSense specific stuff-->
</launch>
